.currencies {
  display: flex;
  flex-direction: column;

  &-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1.5rem;

    button {
      width: 20%;
      margin-right: 2rem;
    }

    .options {
      width: 35%;
    }

    #done,
    #cancel {
      display: none;
    }
  }

  .currency {
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    width: 60rem;
    height: 9rem;
    margin-bottom: 1.5rem;

    &-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 2rem;
      height: 100%;

      h3,
      p,
      input {
        margin: 0;
        color: $fontColor;
        &::placeholder {
          color: $fontColor;
        }
      }

      &-title {
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      &-conversion {
        text-align: right;
        margin-right: 2rem;
      }

      input {
        display: none;
        background: none;
        border: none;
        outline: none;
        text-align: right;
        border-bottom: 1px solid $fontColor;
        margin-right: 2rem;
      }
      hr {
        border: none;
        border-left: 1px solid $fontColor;
        height: 55%;
        width: 1px;
      }

      .flag {
        width: 5rem;
        height: 5rem;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 50%;
        border: 1px solid $fontColor;
        object-fit: cover;
      }

      .draggable-handle {
        height: 100%;
        display: flex;
        align-items: center;

        &-icon {
          width: 3rem;
          margin-left: 2rem;
          margin-right: 2rem;
        }

        button {
          display: none;
          width: 3rem;
          margin-left: 2rem;
          margin-right: 2rem;
        }
      }
    }

    &.mod-edit {
      .currency-content {
        .draggable-handle {
          &-icon {
            display: none;
          }
          button {
            display: block;
          }
        }
      }
    }

    &.mod-selected {
      background: linear-gradient(90deg, $coral 0%, $peach 100%);

      h3,
      p,
      input {
        color: $white;
        &::placeholder {
          color: $white;
        }
      }
      input {
        display: block;
        border-bottom: 1px solid $white;
      }
      hr {
        border-left: 1px solid $white;
      }
      .flag {
        border: 1px solid $white;
      }
      .draggable-handle {
        &-icon {
          filter: brightness(10000%) contrast(10000%);
        }
      }

      .currency-content {
        &-conversion {
          display: none;
        }
      }
    }
  }
}
