$primary-medium: "Cereal-Medium";
$primary-book: "Cereal-Book";
$primary-regular: "Cereal-Light";
$primary-bold: "Cereal-Bold";

@font-face {
  font-family: $primary-medium;
  src: url("./variables/fonts/Cereal/AirbnbCereal-Medium.ttf") format("woff"),
    url("./variables/fonts/Cereal/AirbnbCereal-Medium.ttf") format("truetype");
}

@font-face {
  font-family: $primary-book;
  src: url("./variables/fonts/Cereal/AirbnbCereal-Book.ttf") format("woff"),
    url("./variables/fonts/Cereal/AirbnbCereal-Book.ttf") format("truetype");
}

@font-face {
  font-family: $primary-regular;
  src: url("./variables/fonts/Cereal/AirbnbCereal-Light.ttf") format("woff"),
    url("./variables/fonts/Cereal/AirbnbCereal-Light.ttf") format("truetype");
}

@font-face {
  font-family: $primary-bold;
  src: url("./variables/fonts/Cereal/AirbnbCereal-Bold.ttf") format("woff"),
    url("./variables/fonts/Cereal/AirbnbCereal-Bold.ttf") format("truetype");
}

html {
  font-family: $primary-regular;
  color: $fontColor;
}

h1 {
  font-family: $primary-bold;
  color: $coral;
  font-size: 4.5rem;
  margin: 0;

  span {
    font-family: $primary-regular;
    font-weight: lighter;
    color: $yellow;
    font-size: inherit;
  }
}

h2 {
  font-family: $primary-medium;
  font-weight: normal;
  font-size: 3rem;
  margin-top: 0;
}

h3,
.highcharts-title,
input {
  font-family: $primary-medium;
  font-weight: 320;
  font-size: 2.2rem !important;
}

h4 {
  font-weight: 320;
  font-size: 1.7rem;
  margin: 0;
  color: $lightFontColor;
  text-decoration: none;
}

a {
  font-family: $primary-medium;
  &:hover {
    color: $coral;
  }
}

button {
  font-family: $primary-regular;
}

p,
a,
span {
  font-size: 1.5rem;
  margin: 0;
  color: $lightFontColor;
  text-decoration: none;
}

p {
  margin-top: 3rem;
  line-height: 1.7;
}
